@import 'libs/global.scss';

.filter-demo {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  position: fixed;
  right: 0;
  z-index: 100;


  button {
    border: none;
    background-color: unset;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: $primary;
    color: $white;
    min-width: 15rem;
    position: relative;
    border-radius: 12px;

    &:hover {
      color: $secondary;
    }

    &:focus {
      border: none;
      outline: none;
    }

    &.close-filter {
      &::after {
        font-size: 2rem;
        font-family: "Material Design Icons";
        @include variable-icon-font(map-get($mdi-icons, chevron-right));
      }
    }

    &.open-filter {
      &::after {
        font-size: 2rem;
        font-family: "Material Design Icons";
        @include variable-icon-font(map-get($mdi-icons, chevron-down));
      }
    }
  }

  .block-filter {
    position: absolute;
    z-index: 1;
    top: 70%;
    background-color: $white;
    padding: 0.5rem;
    box-shadow: 0px 2px 4px #4B4B4B29;
    display: flex;
    flex-direction: column;
    min-width: 15rem;
    width: 15rem;

    a {
      padding: 0.5rem 0;
    }

    .filter-box{
      flex-direction: column;
      align-items: flex-start;
    }
    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: .5em;

      &>span,
      &>label {
        display: block;
      }

      &>span {
        transition: all .3s ease;
      }

      &>input[type="checkbox"]:checked+label {
        background-color: $secondary;

        &::after {
          left: 48%;
        }
      }

      &>label {
        background-color: $primary;
        border-radius: 4rem;
        cursor: pointer;
        width: 55px;
        height: 30px;

        &::after {
          content: "";
          background-color: white;
          display: block !important;
          position: relative;
          left: 5px;
          top: 3px;
          color: $primary;
          $size: 23px;
          height: $size;
          width: $size;

          border-radius: 4rem;
        }

        &::before {
          display: none;
        }
      }
    }
  }
}

.demo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;

  >h1 {
    width: 90%;
    border-bottom: 1px solid$primary;
  }

  div {
    margin: 1rem;

    button {
      border: none;
      background-color: $primary;
      color: $white;
      padding: 0.5rem 1.5rem;
      border-radius: 4px;
      font-size: 1.1rem;
    }

    p {
      text-align: center;
      font-size: 1rem;
    }

    a {
      text-decoration: underline;
      font-size: 1.2rem;
    }
  }

  &.fatigue {
    div {
      h1 {
        font-size: 3rem;
      }

      h2 {
        font-size: 2.5rem;
      }

      h3 {
        font-size: 2.25rem;
      }

      button {
        font-size: 1.5rem;
      }

      p {
        font-size: 1.1rem;
        letter-spacing: 0.1rem;
        line-height: 1.7rem;
      }

      a {
        font-size: 1.5rem;
      }
      img {
        filter: contrast(85%);
      }
      // Stopper le contenu animé 
      * {
        animation-play-state: paused !important;
        transition: none !important;
      }
      @media (prefers-reduced-motion: reduce) {
        * {
          animation-play-state: paused !important;
          transition: none !important;
        }
      }
    }
  }
}