@import 'libs/global.scss';
// Ajouter les filtres 
@import '../styles/filtres/fatigue.scss';
@import '../styles/filtres/dyslexie.scss';
@import '../styles/filtres/mode-nuit.scss';
@import '../styles/filtres/dalto-blue.scss';
@import '../styles/filtres/dalto-green.scss';
@import '../styles/filtres/dalto-red.scss';
@import '../styles/filtres/senior.scss';
@import '../styles/filtres/malvoyance.scss';
@import '../styles/filtres/geste-imprecis.scss';
@import '../styles/filtres/lumiere-bleue.scss';
@import '../styles/filtres/tremblements-essentiels.scss';
@import '../styles/filtres/epilepsie-photosensible.scss';
@import '../styles/filtres/maladie-de-parkinson.scss';
@import '../styles/filtres/migraine-ophtalmique.scss';













.filter-demo {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  position: fixed;
  right: 0;
  z-index: 100;


  button {
    border: none;
    background-color: unset;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: $primary;
    color: $white;
    min-width: 20rem;
    position: relative;
    border-radius: 12px;

    &:hover {
      color: $secondary;
    }

    &:focus {
      border: none;
      outline: none;
    }

    &.close-filter {
      &::after {
        font-size: 2rem;
        font-family: "Material Design Icons";
        @include variable-icon-font(map-get($mdi-icons, chevron-right));
      }
    }

    &.open-filter {
      &::after {
        font-size: 2rem;
        font-family: "Material Design Icons";
        @include variable-icon-font(map-get($mdi-icons, chevron-down));
      }
    }
  }

  .block-filter {
    position: absolute;
    z-index: 1;
    top: 70%;
    background-color: $secondary;
    padding: 0.5rem;
    box-shadow: 0px 2px 4px #4B4B4B29;
    display: flex;
    flex-direction: column;
    min-width: 15rem;
    width: 20rem;
    border-radius: 0px 0px 12px 12px;
    padding: 1rem;

    a {
      padding: 0.5rem 0;
    }

    .filter-box{
      flex-direction: column;
      align-items: flex-start;
    }
    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: .5em;
      width: 100%;

      &>span,
      &>label {
        display: block;
      }

      &>span {
        transition: all .3s ease;
      }

      &>input[type="checkbox"]:checked+label {
        background-color: $primary;

        &::after {
          left: 48%;
          top:1px;
        }
      }

      &>label {
        border-radius: 4rem;
        cursor: pointer;
        width: 55px;
        height: 30px;

        background-color: $secondary;
        border: 2px solid $primary;

        &::after {
          content: "";
          background-color: white;
          display: block !important;
          position: relative;
          left: 5px;
          top: 1px;
          color: $primary;
          $size: 23px;
          height: $size;
          width: $size;

          border-radius: 4rem;
        }

        &::before {
          display: none;
        }
      }
    }
  }
}

.demo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;

  >h1 {
    width: 90%;
    border-bottom: 1px solid$primary;
  }

  div {
    margin: 1rem;
    width: 100%;

    .txt-img{
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .txt-link{
      width: 55%;

    }
    p {
      font-size: 1rem;
    }

    a {
      font-size: 1.2rem;
    }
    // Progress bar
    .progress{
      height: 2rem;
      .progress-bar{
        margin: 0;
      }
    }
    // Modal 
    .modal.fade .modal-dialog{
      height: 100%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .modal{
      div{
        margin: 0;
      }
    }
    // Carousel
    .carousel-inner{
      height: 40rem;
    }
  }
 
}